.ant-form-item-label>label {
  font-size: 12px;
}

.ant-input {
  font-size: 12px;
}

.ant-input::placeholder {
  font-size: 12px;
}

.ant-form-item {
  margin-bottom: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

p {
  margin: 0
}